html {
	font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
	background: #EDEFF2;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #a0a0a0;
	padding: 4px 6px;
	border-radius: 3px;
	outline: 0;

	&:hover, &:focus {
		border: 1px solid #006191;
	}
}

header {
	background: #97bdf6;
	padding: 15px 0;
	border-bottom: 5px solid #006191;

	h1 {
		margin: 5px 0 0;
		font-size: 2.7em;
		color: #006191;
	}

	img {
		margin: 5px 0;
	}

	#right {
		float: right;
		text-align: right;
	}

	#user {
		font-size: 0.95em;
		a {
			color: #006191;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	a {
		outline: none;
		text-decoration: none;
	}
}

.main {
	h2 {
		color: #006191;

	}

	#aviso {
		text-align: center;
		display: block;
		background: #819FF7;
		font-weight: bold;
		padding: 8px;
		border-radius: 4px;
		text-decoration: none;
		font-size: 12px;
		margin-bottom: 5px;
		
		span {
			&.error {
				color: #B40404;
			}
			&.verify {
				color: #088A08;
			}
		}
	}

	#inicio {

	}

	#login {
		label {
			width: 150px;
			display: inline-block;
		}

		p.error {
			color: red;
			font-weight: bold;
		}
	}

	#panel {
		a#rellenar {
			float: right;
			display: block;
			background: #006191;
			color: #EDEFF2;
			font-weight: bold;
			padding: 8px;
			border-radius: 4px;
			text-decoration: none;
			font-size: 12px;
			margin-bottom: 5px;
		}

		p.info {
			font-style: italic;
			font-size: 0.8em;
			margin: 2px 0;
		}

		.pisados {
			margin-bottom: 50px;

			h2 {
				border-bottom: 1px solid #006191;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					width: 20%;
					border-radius: 4px;
					margin: 5px;
					box-sizing: border-box;
					background: #97BDF6;
					border: 2px solid #006191;
					color: #000;

					p {
						margin: 0;
						padding: 4px;

						&.titulacion {
							font-size: 0.7em;
							text-align: center;
						}

						&.asignatura {
							font-weight: bold;
							background: #006191;
							color: #EDEFF2;
							height: 2em;
						}

						&.curso, &.date {
							text-align: right;

							span {
								float: left;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	#create {
		a#return {
			float: right;
			display: block;
			background: #006191;
			color: #EDEFF2;
			font-weight: bold;
			padding: 8px;
			border-radius: 4px;
			text-decoration: none;
			font-size: 12px;
			margin-bottom: 5px;
		}

		p.info {
			font-style: italic;
			font-size: 0.8em;
			margin: 2px 0;
		}
		.cpisado {
			margin-bottom: 50px;

			h2 {
				border-bottom: 1px solid #006191;
			}
			h1 {
				text-align: center;
				color: #006191;
			}
			p {
				&.br {
					text-align: center;
					color: #C0C0C0;
  					font-weight: bold;
				}
			}
			ul {
				margin: 0;
				padding: 20px;
				list-style: none;

				span {
					&.titulacion, &.asignatura, &.profesor {
						float: left;
					}
					&.curso, &.grupo {
						float: right;
					}
				}
			}
			input#submit {
				margin-bottom: 50px;
				text-align: center;
			}

		}
	}

	#view {
		a#return {
			float: right;
			display: block;
			background: #006191;
			color: #EDEFF2;
			font-weight: bold;
			padding: 8px;
			border-radius: 4px;
			text-decoration: none;
			font-size: 12px;
			margin-bottom: 5px;
		}

		p {
			&.info {
				font-style: italic;
				font-size: 0.8em;
				margin: 2px 0;
			}
			&.text {
				border: 1px solid #a0a0a0;
				padding: 4px 6px;
				border-radius: 3px;
				outline: 0;
			}
		}
		.vpisado {
			margin-bottom: 50px;

			h2 {
				border-bottom: 1px solid #006191;
			}
			h1 {
				text-align: center;
				color: #006191;
			}
			p {
				&.br {
					text-align: center;
					color: #C0C0C0;
  					font-weight: bold;
				}
			}
			ul {
				margin: 0;
				padding: 20px;
				list-style: none;

				span {
					&.titulacion, &.asignatura, &.profesor {
						float: left;
					}
					&.curso, &.grupo {
						float: right;
					}
				}
			}
			input#submit {
				margin-bottom: 50px;
				text-align: center;
			}

		}
	}

}

footer {
	margin: 40px 0;
	font-size: 0.8em;

	.wrapper {
		border-top: 1px solid #a6b0be;
		padding: 20px 0 0;
	}

	p {
		margin: 3px 0;
	}
}


