html {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  background: #EDEFF2;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #a0a0a0;
  padding: 4px 6px;
  border-radius: 3px;
  outline: 0;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #006191;
}
header {
  background: #97bdf6;
  padding: 15px 0;
  border-bottom: 5px solid #006191;
}
header h1 {
  margin: 5px 0 0;
  font-size: 2.7em;
  color: #006191;
}
header img {
  margin: 5px 0;
}
header #right {
  float: right;
  text-align: right;
}
header #user {
  font-size: 0.95em;
}
header #user a {
  color: #006191;
}
header #user a:hover {
  text-decoration: underline;
}
header a {
  outline: none;
  text-decoration: none;
}
.main {
  margin: 50px auto;
}
.main h2 {
  color: #006191;
  border-bottom: 1px solid #006191;
}
.main h2 a {
  float: right;
  display: block;
  background: #006191;
  color: #EDEFF2;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.main h3 {
  text-align: center;
  color: #006191;
  font-size: 1.6em;
}
.main p.info {
  font-style: italic;
  font-size: 0.8em;
  margin: 2px 0;
}
.main p.text {
  border: 1px solid #a0a0a0;
  padding: 4px 6px;
  border-radius: 3px;
  outline: 0;
}
.main #aviso {
  text-align: center;
  display: block;
  background: #819FF7;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
.main #aviso span.error {
  color: #B40404;
}
.main #aviso span.verify {
  color: #088A08;
}
.main #login label {
  width: 150px;
  display: inline-block;
}
.main #login p.error {
  color: red;
  font-weight: bold;
}
.main #panel .pisados {
  margin-bottom: 50px;
}
.main #panel .pisados ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main #panel .pisados ul li {
  display: inline-block;
  width: 20%;
  border-radius: 4px;
  margin: 5px;
  box-sizing: border-box;
  background: #97BDF6;
  border: 2px solid #006191;
  color: #000;
}
.main #panel .pisados ul li p {
  margin: 0;
  padding: 4px;
}
.main #panel .pisados ul li p.titulacion {
  font-size: 0.7em;
  text-align: center;
}
.main #panel .pisados ul li p.asignatura {
  font-weight: bold;
  background: #006191;
  color: #EDEFF2;
  height: 2em;
}
.main #panel .pisados ul li p.curso,
.main #panel .pisados ul li p.date {
  text-align: right;
}
.main #panel .pisados ul li p.curso span,
.main #panel .pisados ul li p.date span {
  float: left;
  font-weight: bold;
}
.main #view article,
.main #create article {
  margin-bottom: 15px;
}
.main #view article#informe,
.main #create article#informe,
.main #view article#comentarios,
.main #create article#comentarios {
  border-top: 1px dashed #a6b0be;
}
.main #view article ul,
.main #create article ul {
  padding: 0;
  list-style: none;
}
.main #view article ul li,
.main #create article ul li {
  margin: 5px 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.main #view article ul li#texto,
.main #create article ul li#texto {
  width: 100%;
}
.main #view article ul span,
.main #create article ul span {
  font-weight: bold;
  text-transform: uppercase;
  min-width: 130px;
  display: inline-block;
}
.main #view article ul p,
.main #create article ul p,
.main #view article ul textarea,
.main #create article ul textarea {
  margin: 10px auto;
  width: 90%;
  resize: vertical;
}
footer {
  font-size: 0.8em;
}
footer .wrapper {
  border-top: 1px solid #a6b0be;
  padding: 20px 0;
}
footer p {
  margin: 3px 0;
}
@media print {
  body {
    font-size: 12px;
  }
  header #user,
  h2,
  p.info,
  footer {
    display: none;
  }
}
