html {
  font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
  background: #EDEFF2;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #a0a0a0;
  padding: 4px 6px;
  border-radius: 3px;
  outline: 0;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #006191;
}
header {
  background: #97bdf6;
  padding: 15px 0;
  border-bottom: 5px solid #006191;
}
header h1 {
  margin: 5px 0 0;
  font-size: 2.7em;
  color: #006191;
}
header img {
  margin: 5px 0;
}
header #right {
  float: right;
  text-align: right;
}
header #user {
  font-size: 0.95em;
}
header #user a {
  color: #006191;
}
header #user a:hover {
  text-decoration: underline;
}
header a {
  outline: none;
  text-decoration: none;
}
.main h2 {
  color: #006191;
}
.main #aviso {
  text-align: center;
  display: block;
  background: #819FF7;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
.main #aviso span.error {
  color: #B40404;
}
.main #aviso span.verify {
  color: #088A08;
}
.main #login label {
  width: 150px;
  display: inline-block;
}
.main #login p.error {
  color: red;
  font-weight: bold;
}
.main #panel a#rellenar {
  float: right;
  display: block;
  background: #006191;
  color: #EDEFF2;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
.main #panel p.info {
  font-style: italic;
  font-size: 0.8em;
  margin: 2px 0;
}
.main #panel .pisados {
  margin-bottom: 50px;
}
.main #panel .pisados h2 {
  border-bottom: 1px solid #006191;
}
.main #panel .pisados ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main #panel .pisados ul li {
  display: inline-block;
  width: 20%;
  border-radius: 4px;
  margin: 5px;
  box-sizing: border-box;
  background: #97BDF6;
  border: 2px solid #006191;
  color: #000;
}
.main #panel .pisados ul li p {
  margin: 0;
  padding: 4px;
}
.main #panel .pisados ul li p.titulacion {
  font-size: 0.7em;
  text-align: center;
}
.main #panel .pisados ul li p.asignatura {
  font-weight: bold;
  background: #006191;
  color: #EDEFF2;
  height: 2em;
}
.main #panel .pisados ul li p.curso,
.main #panel .pisados ul li p.date {
  text-align: right;
}
.main #panel .pisados ul li p.curso span,
.main #panel .pisados ul li p.date span {
  float: left;
  font-weight: bold;
}
.main #create a#return {
  float: right;
  display: block;
  background: #006191;
  color: #EDEFF2;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
.main #create p.info {
  font-style: italic;
  font-size: 0.8em;
  margin: 2px 0;
}
.main #create .cpisado {
  margin-bottom: 50px;
}
.main #create .cpisado h2 {
  border-bottom: 1px solid #006191;
}
.main #create .cpisado h1 {
  text-align: center;
  color: #006191;
}
.main #create .cpisado p.br {
  text-align: center;
  color: #C0C0C0;
  font-weight: bold;
}
.main #create .cpisado ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}
.main #create .cpisado ul span.titulacion,
.main #create .cpisado ul span.asignatura,
.main #create .cpisado ul span.profesor {
  float: left;
}
.main #create .cpisado ul span.curso,
.main #create .cpisado ul span.grupo {
  float: right;
}
.main #create .cpisado input#submit {
  margin-bottom: 50px;
  text-align: center;
}
.main #view a#return {
  float: right;
  display: block;
  background: #006191;
  color: #EDEFF2;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}
.main #view p.info {
  font-style: italic;
  font-size: 0.8em;
  margin: 2px 0;
}
.main #view p.text {
  border: 1px solid #a0a0a0;
  padding: 4px 6px;
  border-radius: 3px;
  outline: 0;
}
.main #view .vpisado {
  margin-bottom: 50px;
}
.main #view .vpisado h2 {
  border-bottom: 1px solid #006191;
}
.main #view .vpisado h1 {
  text-align: center;
  color: #006191;
}
.main #view .vpisado p.br {
  text-align: center;
  color: #C0C0C0;
  font-weight: bold;
}
.main #view .vpisado ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}
.main #view .vpisado ul span.titulacion,
.main #view .vpisado ul span.asignatura,
.main #view .vpisado ul span.profesor {
  float: left;
}
.main #view .vpisado ul span.curso,
.main #view .vpisado ul span.grupo {
  float: right;
}
.main #view .vpisado input#submit {
  margin-bottom: 50px;
  text-align: center;
}
footer {
  margin: 40px 0;
  font-size: 0.8em;
}
footer .wrapper {
  border-top: 1px solid #a6b0be;
  padding: 20px 0 0;
}
footer p {
  margin: 3px 0;
}
